body{
    font-family: 'Roboto Slab';
}
nav{
    background-color: rgba(206, 206, 206, 0.822);
}
.card-title{
    font-size: 22px;
}
.card-text{
    font-style: normal;
    font-weight: 400;
}
.btn-color-login
{
    background-color:  rgb(126, 124, 124);
    color: aliceblue;
}
.font-list
{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
footer{
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(206, 206, 206);
}
.font-footer
{
    font-weight: 500;
    font-style: bold;
    font-size: 25px;
}
.mtp-1{
    margin-top: 60px;
}
.judul-item
{
    
    font-weight: 500;
    font-style: bold;
    font-size: 25px;
}
.border-item-1
{
    background-color: rgb(193, 204, 204);
    border-radius: 5px;
}
.judul-item-1
{
    font-weight: 500;
    font-style: bold;
    font-size: 25px;
}

.active{
    background-color: #666;
    color: white;
}